{% extends "layout.html" %}
{% block content %}

<div class="card">
    <div class="card-header">
				<h3>Register</h3>
			</div>
    <div class="card-body">
        <div class="row mt-3">
            <div class="col md-6">
                <form action="#" method="POST"
                      id="login_form">
                    <div class="form-group">
                        <label for="name">Username:</label><input
                            class="form-control" type="text" id="username"
                            name="username" required><br/>
                        <label for="password">Password:</label><input
                            class="form-control" type='password' id="password"
                            name="password" required>
                        <button type="submit" class="btn btn-primary mt-4">
                            Generate Password
                        </button>
                        {{ form.submit(class="btn btn-primary mt-4") }}
                        <a href="{{ url_for('login') }}">
                            <input type="button" value='To Log in' class="btn btn-primary mt-4">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}